*{padding: 0; margin: 0; font-size: 100%; box-sizing: border-box;}

@font-face {font-family: CamphorProForXiaoMi-Regular; src: url(./fonts/CamphorProForXiaoMi-Regular.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Bold; font-weight: 700; src: url(./fonts/CamphorProForXiaoMi-Bold.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Medium; src: url(./fonts/CamphorProForXiaoMi-Medium.woff) format("woff")}

.f-heavy {font-family: CamphorProForXiaoMi-Heavy, sans-serif; font-weight: 900}
.f-regular {font-family: CamphorProForXiaoMi-Regular, sans-serif}
.f-bold {font-family: CamphorProForXiaoMi-Bold, sans-serif; font-weight: 700}
.f-medium {font-family: CamphorProForXiaoMi-Medium, sans-serif}

@media screen and (min-device-width: 1024px){

    .titulo_xiaomi{color: #000; font-size:2.1rem; padding-bottom: 1rem; text-align: left;}
    .subtitulo_xiaomi{color: #ff6900; font-size: 2rem; text-align: left;}
    .p_xiaomi{color: rgb(168, 168, 168); font-size: 2rem; text-align: left;}
    .p_box{font-size:2rem;}

    main{display: flex; justify-content: center; align-items: center; text-align: center;}

        .fundo{
        display: flex;
        width: 100%;
        background: #fff;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        }
    
        .topo{
        width: 100%;
        background: #ff6900;
        }
    
        .conteudo{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        }
        
        .timer{
        margin: 1rem;
        background-color: #ff6900;
        color: #fff;
        border-radius: 1rem;
        box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
        padding: 2.5rem;
        }
    
        .timer01{
        font-family: 'CamphorProForXiaoMi-Bold';
        font-size: 5rem;
        }
    
        .text{
        width: 20rem;
        padding: 1REM;
        }
    
        img{width: 40rem;}

} /***********************************Fim-Desktop*******************************/

@media screen and (min-device-width: 769px) and (max-width:1023px){

    .titulo_xiaomi{color: #000; font-size:2.1rem; padding-bottom: 1rem;}
    .subtitulo_xiaomi{color: #ff6900; font-size: 2rem;}
    .p_xiaomi{color: rgb(168, 168, 168); font-size: 2rem;}
    .p_box{font-size:1rem;}

    .fundo{
    display: flex;
    width: 100%;
    background: #fff;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    }
    
    .topo{
    width: 100%;
    background: #ff6900;
    }
    
    .conteudo{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    }
        
    .timer{
    margin-bottom: 1.3rem; 
    margin: 1rem;
    margin-top: 1.3rem;
    background-color: #ff6900;
    height: 9rem;
    color: #fff;
    border-radius: 1rem;
    font-size: 3rem;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    padding: 2.5rem;
    }
    
    .timer01{
    font-family: 'CamphorProForXiaoMi-Bold';
    font-size: 2rem;
    }
    
    .text{
    width: 20rem;
    padding: 1REM;
    }
    
    img{width: 20rem;}


} /***********************************Fim-Tablet*******************************/

@media screen and (max-device-width: 768px){

    .titulo_xiaomi{color: #000; font-size:2.1rem; padding-bottom: 1rem;}
    .subtitulo_xiaomi{color: #ff6900; font-size: 2rem;}
    .p_xiaomi{color: rgb(168, 168, 168); font-size: 2rem;}
    .p_box{font-size:1rem;}

    
    main{ justify-content: center; align-items: center; text-align: center; overflow: hidden;}

    .fundo{
    display: flex;
    width: 100%;
    background: #fff;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    }

    .topo{
    width: 100%;
    background: #ff6900;
    }

    .conteudo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    }
    
    .timer{
    margin-bottom: 1.3rem; 
    margin: 1rem;
    margin-top: 1.3rem;
    background-color: #ff6900;
    height: 9rem;
    color: #fff;
    border-radius: 1rem;
    font-size: 3rem;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    padding: 2.5rem;
    }

    .timer01{
    font-family: 'CamphorProForXiaoMi-Bold';
    font-size: 2rem;
    }

    .text{
    width: 20rem;
    padding: 1REM;
    }

    img{width: 20rem;}

} /***********************************Fim-Mobile*******************************/